:root {
    --dhblue: #5674b9;
    --dhpink: #ed145b;
    --dhyellow: #fcb215;
    --dhbrown: #c13a22; 
}
body{
    background-color: #fff;
}

html,
body, a, p, * {
	margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 500;
}

a:hover {
    text-decoration: none;
}

.light-bg{
    background-color: #f4f4f4;
}
.modal-header span{
    font-size: 30px;
}

/* All Pages Top Title Css Start  */

.informative-title h3{
    font-size: 22px;
    margin: 0px;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--dhpink);
}

/* All Pages Top Title Css End  */


/* Header Css Start */
.top-header{
    background-color: var(--dhpink);
    padding: 10px 0px;
    color: white;
}

.top-header .offer p{
    color: white;
}

.top-header .offer span{
    background-color: var(--blue);
    color: white;
    padding: 0px 5px;
}

.top-header .infor ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.top-header .infor ul li{
    display: inline-block;
    margin: 0px 5px;
    text-align: right;
}

.top-header .infor ul li a{
    color: white;
}

.top-header .infor ul li i{
    margin-right: 10px;
    color: white;
}

#header .main-logo img {
    display: inline-block;
    padding: 0px;
    width: 140px;
}

#header .search-form {
    margin-top: 6px;
}
#header .search-form form input[type=search] {
    height: 45px;
    box-sizing: border-box;
}

#header .search-form button {
    height: 45px;
    width: 120px;
    color: #fff;
    background-color: var(--blue);
    border: none;
    transition: ease-in-out 0.2s; 
}

#header .search-form button:hover {
    color: #111;
    background-color: var(--yellow);
}

#header .navbar{
    padding: 10px 0px;
}

@media screen and (max-width: 991px){
    #header .navbar-collapse{
        padding: 10px 20px;
        background-color: #f4f4f4;
        border-right: 2px solid var(--dhpink);
        border-left: 2px solid var(--dhpink);
    }
    #header nav .navbar-nav a {
        border-bottom: 1px solid var(--dhpink);
    }
} 

@media screen and (min-width: 992px){
    #header nav .navbar-nav li {
    margin-right: 8px;
    }
} 

#header nav .navbar-nav a {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    padding: 8px 17px;
}

#header nav .navbar-nav a:hover {
    color: #fff;
    font-weight: 500;
    background-color: var(--dhpink);
}
#header nav .navbar-nav li.active>a {
    color: #fff;
    font-weight: 500;
    background-color: var(--dhpink);
}

/* Header Css End  */

/* Slider Css Start  */
#slider .carousel-caption {
    top: 40%;
    left: 15%;
    text-align: left;
    animation-name: example;
    animation-duration: 1.2s;
}
  
  @keyframes example {
    0%   {left:-200%; top:40%;}
    100% {left:15%; top:40%;}
  }

#slider .carousel-caption h3 { 
    background: rgba(86,116,185,0.8);
    padding: 10px;
    margin-bottom: 10px;
    color: var(--black);
    display: table;
    border-bottom: 5px solid var(--dhpink);
    font-weight: 600;
}

#slider .carousel-caption p { 
    font-size: 16px; 
    background: rgba(0,0,0,0.6);
    padding: 10px;
    display: table;
    color: #fff;
}
/* Slider Css End  */

/* Hot Selling Products Css Start */
.hot-products .hot-products-part{
    transition: ease-in-out .3s;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 15px;
    border-left: 3px solid var(--dhpink);
    border-bottom: 3px solid var(--dhpink);
    background-color: #ffffff;
}
.hot-products a:hover .hot-products-part {
    transform: scale(1.1);
    background-color: var(--dhpink);
}
.hot-products a:hover .hot-products-part h5{
    color: #fff;
}
.hot-products .hot-products-part h5{
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    line-height: 50px;
}
/* Hot Selling Products Css End */

/* Product List Css Start  */
.product-list i{
    color: var(--dhpink);
    font-size: 50px;
    margin-bottom: 20px;
}

.product-list h5{
    color: var(--dhpink);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.product-list p{
    color: #111;
    font-size: 14px;
    margin-bottom: 0px;
}
/* Product List Css End  */

/********* Whatsapp CTA Css Start  *********/
.whatsapp-cta{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
}

.whatsapp-cta a{
    background-color: #67df83;
    padding: 15px;
    height: 60px;
    width: 60px;
    display: block;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1), 0 2px 32px 0 rgba(0,0,0,0.3);
}

.whatsapp-cta a i{
    color: white;
    font-size: 30px;
    line-height: 30px;
    padding-left: 2px;
}
/********* Whatsapp CTA Start  *********/