body, html { 
		margin: 0px;
		padding: 0px;
		font-family: 'Montserrat', sans-serif;

	}
	img {
		filter: grayscale(1);
	}
	img:hover {
		filter: none;
		cursor: pointer; 
	}

/* Left Side Css */
	
	.left-side { 
		height:100vh;
		width: 40%;
		position: relative;
		overflow: hidden;
		position: fixed;
	}

	.left-side-image img{ 
		background-repeat: no-repeat;
		height: 100vh;
		margin-left: -100px;
	}

/* Right Side Css */

	.right-side { 
		height: auto; 
		width: 60%; 
		margin-left: 40%; 
		overflow: auto;
	}
	
/* Right Side Home Css */

	.right-side .home {
		padding: 190px 100px;
		text-align: center;
	}
	.right-side .home h2 {
		font-size: 60px;
		margin-bottom: 10px;
		padding: 0px;
		color: #333;
	}

	.right-side .home p {
		font-size: 18px;
		margin-bottom: 10px;
		padding: 0px;
		color: #777;
		margin-bottom: 30px;
	}

	.right-side .home button {
		background-color: #d1d1d1;
		border:none;
		outline: 0px;
		padding: 20px 40px;
		font-size: 15px;
		color: #333;
		cursor: pointer;
		font-weight: normal;
		font-weight: 300;
	}

	.right-side .home button span {
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
	}

	
	.right-side .home button:hover {
		background-color: #333;
		color: #fff;
	}

/* Right Side Images Css */

	.right-side .images {
		padding: 30px 20px;
	}

	.right-side .images h3{
		font-size: 30px;
		margin: 0px 0px 30px 0px;
		padding: 0px;
		color: #666;
		font-weight: 400;
		text-align: left;
	}

	.right-side .images .all-images img{
		width: 46%;
		margin: 0px 14px 20px 0px;
		box-shadow: 5px 5px 20px #333;
	}

/* Right Side About Css */

	.right-side .about {
		padding: 30px 20px;
	}

	.right-side .about h3{
		font-size: 30px;
		margin: 0px 0px 30px 0px;
		padding: 0px;
		color: #666;
		font-weight: 400;
		text-align: left;
	}

	.right-side .about h4{
		font-size: 20px;
		margin: 30px 0px 10px 0px;
		padding: 0px;
		color: #666;
		font-weight: 400;
		text-align: left;
	}

	.right-side .about .webdesign{
		width: 100%;
		background-color: #999;
		height: 40px;
		padding: 10px;
		box-sizing: border-box;
		margin: 0px;
	}

	.right-side .about .webdesign-percent{
		width: 80%;
		background-color: #444;
		height: 40px;
		padding: 0px;
		margin: -10px 0px 0px -10px;
		text-align: center;
		box-sizing: border-box;
	}

	.right-side .about .webdesign-percent p{
		color: #fff;
		padding: 0px;
		margin: 0px;
		text-align: center;
		box-sizing: border-box;
		line-height: 40px;
	}

	.right-side .about .graphicdesign{
		width: 100%;
		background-color: #999;
		height: 40px;
		padding: 10px;
		box-sizing: border-box;
		margin: 0px;
	}

	.right-side .about .graphicdesign-percent{
		width: 60%;
		background-color: #444;
		height: 40px;
		padding: 0px;
		margin: -10px 0px 0px -10px;
		text-align: center;
		box-sizing: border-box;
	}

	.right-side .about .graphicdesign-percent p{
		color: #fff;
		padding: 0px;
		margin: 0px;
		text-align: center;
		box-sizing: border-box;
		line-height: 40px;
	}

	.right-side .about .jj{
		width: 100%;
		background-color: #999;
		height: 40px;
		padding: 10px;
		box-sizing: border-box;
		margin: 0px;
	}

	.right-side .about .jj-percent{
		width: 40%;
		background-color: #444;
		height: 40px;
		padding: 0px;
		margin: -10px 0px 0px -10px;
		text-align: center;
		box-sizing: border-box;
	}

	.right-side .about .jj-percent p{
		color: #fff;
		padding: 0px;
		margin: 0px;
		text-align: center;
		box-sizing: border-box;
		line-height: 40px;
	}

	.right-side .about p{
		font-size: 15px;
		margin-bottom: 30px;
		padding: 0px;
		color: #666;
		font-weight: 400;
		text-align: left;
		line-height: 22px;
	}

/* Right Side About-Work Css */

	.right-side .about-work{
		background-color: #444;
		height: 100px;
		padding: 50px 0px;
		margin: 40px 0px;
		text-align: center;	
		box-sizing: border-box;
	}

	.right-side .about-work table{
		margin-top: -35px;
		padding: 0px;
		width: 100%;
		border-collapse: collapse;
		border: none;
	}

	.right-side .about-work table tr td{
		color: #fff;
		width: 25%;
		margin: 0px;
		padding: 0px;
		font-size: 15px;
		text-align: center;
	}

	.right-side .about-work table tr td span{
		color: #fff;
		font-size: 25px;
		line-height: 40px;
	}

/* Right Side My Reputaion Css */

	.right-side .my-reputation {
		padding: 30px 20px;
	}

	.right-side .my-reputation img{
		display: inline-block;
		border-radius: 50%;
		width: 80px;
		height: 80px;
		float: left;
		margin-right: 20px;
	}

	.right-side .my-reputation h3{
		font-size: 30px;
		margin: 0px 0px 20px 0px;
		padding: 0px;
		color: #666;
		font-weight: 400;
		text-align: left;
	}

	.right-side .my-reputation h4{
		font-size: 20px;
		margin: 30px 20px 10px 0px;
		padding-top: 15px;
		color: #333;
		font-weight: 400;
		text-align: left;
	}

	.right-side .my-reputation span{
		font-size: 16px;
		margin-left: 20px;
		padding: 0px;
		color: #888;
		font-weight: 400;
		text-align: left;
	}

	.right-side .my-reputation p{
		font-size: 15px;
		margin: 10px 0px;
		padding: 0px;
		color: #888;
		font-weight: 400;
		text-align: left;
	}

/* Right Side My Price Css */

	.right-side .my-price {
		padding: 30px 20px;
	}

	.right-side .my-price h3{
		font-size: 30px;
		margin: 0px 0px 20px 0px;
		padding: 0px;
		color: #666;
		font-weight: 400;
		text-align: left;
	}

	.right-side .my-price ul{
		list-style: none;
		margin: 0px 20px 0px 0px;
		padding: 0px;
		width: 45%;
		box-shadow: 2px 2px 4px #999;
		border: 1px solid #b5b5b5;
		display: inline-block;
	}

	.right-side .my-price ul:hover{
		box-shadow: 4px 2px 10px #999;
	}

	.right-side .my-price ul:last-child li:first-child{
		background-color: #333;
	}

	.right-side .my-price ul li{
		font-size: 15px;
		padding: 20px;
		color: #888;
		font-weight: 400;
		text-align: center;
		border-bottom: 1px solid #b5b5b5;
	}

	.right-side .my-price ul li:first-child{
		background-color: #666;
		font-size: 24px;
		color: #fff;
		font-weight: 300px;
		line-height: 60px;
		border:none;
	}

	.right-side .my-price ul li:last-child{
		background-color: #f1f1f1;
		border-bottom: none;
	}

	.right-side .my-price ul li span{
		font-size: 24px;
		font-weight: 300px;
		line-height: 40px;
	}

	.right-side .my-price ul li button{
		font-size: 16px;
		font-weight: 300px;
		line-height: 40px;
		padding: 5px 20px;
		border: none;
		outline: 0px;
		color: #333;
		background-color: #fff;
		font-family: "Montserrat";
		cursor:pointer;
	}
	.right-side .my-price ul li button:hover{
		background-color: #333;
		color: #fff;
	}

	.right-side .my-price p{
		font-size: 15px;
		margin: 10px 0px;
		padding: 0px;
		color: #888;
		font-weight: 400;
		text-align: left;
	}

/* Right Side Contact Me Css */

	.right-side .contact {
		padding: 30px 20px;
	}

	.right-side .contact h3{
		font-size: 30px;
		margin: 0px 0px 20px 0px;
		padding: 0px;
		color: #666;
		font-weight: 400;
		text-align: left;
	}

	.right-side .contact p{
		font-size: 16px;
		margin: 20px 0px;
		padding: 0px;
		color: #666;
		font-weight: 400;
		text-align: left;
	}

	.right-side .contact p i{
		font-size: 20px;
		margin: 0px 20px 0px 0px;
		padding: 0px;
		color: #666;
	}

	.right-side .contact img{
		width: 100%;
		box-sizing: border-box;
		margin: 0px 0px 20px 0px;
	}

	.right-side .contact form input[type=text], textarea {
		width: 100%;
		padding: 20px;
		margin: 8px 0;
		border: 1px solid #ccc;
		box-sizing: border-box;
		border-radius: 1px;
		font-family: "Montserrat";
	}

	.right-side .contact form button {
		color: #333;
		padding: 20px 30px;
		margin: 8px 0;
		border: none;
		text-transform: uppercase;
		background-color: #f1f1f1;
		border-radius: 1px;
		font-family: "Montserrat";
		cursor: pointer;
		font-size: 16px;
	}

	.right-side .contact form button:hover {
		background-color: #333;
		color: #fff;
	}

/* Right Side Footer Css */

	.right-side .footer {
		padding: 30px 20px;
		background-color: #f1f1f1;
		text-align: center;
		height: 150px;
	}

	.social-media {
		margin: 20px 0px;
	}

	.right-side .social-media i{
		color: #666;
		font-size: 25px;
		margin: 10px 5px;
		padding: 5px;
		cursor: pointer;
		transition: 0.4s;
	}

	.right-side .social-media i:hover{
		color: #000;
	}
	
	.right-side .footer p{
		color: #333;
		font-size: 16px;
		margin: 10px 5px;
		color: #333; 
	}


/* Navigation Sidepanel Css */

	.sidepanel {
		width: 0;
		position: fixed;
		z-index: 1;
		height: 100%;
		top: 0;
		right: 0;
		background-color: #111;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
	}

	.sidepanel a{
		padding: 30px 10px 10px 10px;
		text-decoration: none;
		font-size: 30px;
		color: #888;
		display: block;
		transition: 0.3s; 
		font-family: 'Montserrat', sans-serif;
		text-align: center;
	}

	.sidepanel a:hover{
		color: #fff;
	}

	.sidepanel .closebtn {
		position: absolute;
		top: -25px;
		right: 10px;
		font-size: 40px;
	}

	.openbtn {
		font-size: 30px;
		cursor: pointer;
		background-color: #f1f1f1;
		color: #111;
		padding: 10px 15px;
		border: none;
		float: right;
		position: fixed;
		right: 0;
	}

	.openbtn:hover {
		background-color: #999;
		color: white;
	}